{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "transpiler" "dartsass") }}
{{ $style := resources.Get "sass/style.scss" | css.Sass $options }}

{{ if not .Site.Params.testOnlyCriticalStyle }}
	<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
{{ end }}

{{ $build_options := dict "targetPath" "js/main.bundle.js" -}}
{{ $js := resources.Get "js/main.ts" | js.Build $build_options | resources.Minify }}
<script src="{{ $js.RelPermalink }}" async defer></script>